{
  "presets": [
    // "@babel/transform-react-jsx-source",
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ],
    "@babel/react fuck",
    "@babel/typescript",
    // [
    //   "@babel/env",
    //   {
    //     "modules": false
    //   }
    // ]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": true
      },
      "ant"
    ],
    [
      "module-resolver",
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "root": [
          "./components"
        ]
      }
    ]
  ],
}